<ion-header>
  <ion-toolbar>
    <ion-title>
      Negocio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="BAND">
    <ion-grid *ngFor="let item of arregloComercio">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-avatar>
                <ion-img src="{{item.imagen}}"></ion-img>
              </ion-avatar>
              <ion-label style="text-align: center">
                {{item.nombre}}
              </ion-label>
              <ion-buttons>
                <ion-button (click)="presentActionSheet()">Productos</ion-button>
              </ion-buttons>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let itemPedido of arregloPedidos">
              <ion-label>Pedido: {{itemPedido.nombre}}</ion-label>
              <ion-button (click)="verLista(itemPedido.id)">Ver pedido</ion-button>
            </ion-item>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-content *ngIf="BAND==false">
      <form  #form="ngForm" (ngSubmit)="register(form)">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input  name="nombre" [(ngModel)]="nombre" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea name="descripcion" [(ngModel)]="description" required></ion-textarea>
        </ion-item>
        <ion-item>
          <img [src]="downloadurl | async" alt="" *ngIf="downloadurl | async">
          <ion-button (click)="openGalery()">Subir imagen...</ion-button>
        </ion-item>
        <div>
          <ion-button (click)="agregarNegocio()" class="buttonColor" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          Advertencia: El comercio será creado a partir de su ubicación actual
        </div>
      </form>
  </ion-content>
  
